
/* :root{
    --inner: 20px;
} */
body {
    box-sizing: border-box;
    background-color: rgb(132, 221, 90);
    margin: 0;
}
.navbar {
    background-color:#FFB800;
    height:125px;
    border: 2px solid #FFB800;
    border-radius: 30px;
    margin: 5px 15px;
    /* padding: var(--inner); */
}
.navbar-brand {
    font-size: 50px;
    color:green;
    text-align: left;
    padding-top: .0125rem;
}
form .btn {
    background-color: green;
    color: white;
}
.center {
    /* border: 1px solid black; */
    width: 60%;
    margin: 0 auto;
    /* background-color: rgba(144, 169, 85, 0.7); */
    background: center/cover no-repeat url("../images/image1.jpg");
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.center .btn {
    background-color: #FFB800;
    /* margin-left: 11%;
    margin-top: 23%; */
    /* padding: 20px; */

    width: 150px;
    height: 100px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 50%;
    border: none;
}
.btn:hover {
    cursor: pointer;
}
.background {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    width: 20%;
    background: center/cover url(../images/butterflies.jpg);
    
}
footer {
    background-color: #FFB800;
    border: 1 px solid grey;
    height: 100px;
    border-radius: 30px;
    margin: 10px 15px;
    text-align: center;
}
.form-inline .avatar {
    margin-right: 5rem;
    width: 150px;
    height: 100px;
    border-radius: 50%;    
}