
body {
    box-sizing: border-box;
    background-color: rgb(132, 221, 90);
}
.navbar {
    background-color:#FFB800;
    height:150px;
}
.navbar-brand {
    font-size: 50px;
    color:green;
    text-align: left;
}
form .btn {
    background-color: green;
    color: black;
}
.center .btn {
    background-color: #FFB800;
}
