
body {
    box-sizing: border-box;
    background-color: rgb(132, 221, 90);
}
.navbar {
    background-color:#FFB800;
    height:150px;
    border: 2px solid #FFB800;
    border-radius: 30px;
    margin: 5px 15px;
}
.navbar-brand {
    font-size: 50px;
    color:green;
    text-align: left;
}
form .btn {
    background-color: green;
    color: black;
}
.center .btn {
    background-color: #FFB800;
}
